<div>
    <header class="underline text-lg">Deck Stats</header>
    <p>Input the number of each Converted Mana Cost (CMC) in your deck</p>
    <table class="table-auto w-1/4 border-separate border-spacing-2">
        <tbody>
            {{ range .CMCs }}
            <tr>
                <td class="w-0 whitespace-nowrap text-lg">
                    <label for="{{ . }}drops" class="text-lg">CMC: {{ . }}</label>
                </td>
                <td class="w-0 whitespace-nowrap text-lg">
                    <input type="number" id="{{ . }}drops" class="rounded-md w-16 text-right" value="0">
                </td>
            </tr>
            {{ end}}
        </tbody>
    </table>
</div>