<div>
    <header class="underline text-lg">Deck Stats</header>
    <table class="table-auto w-1/4 border-separate border-spacing-2">
        <tbody>
            <tr>
                <td class="w-0 whitespace-nowrap text-lg">
                    <label for="1drops" class="text-lg">CMC: 1</label>
                </td>
                <td class="w-0 whitespace-nowrap text-lg">
                    <input type="number" id="1drops" class="rounded-md w-16 text-right" value="0">
                </td>
            </tr>
            <tr>
                <td class="w-0 whitespace-nowrap text-lg">
                    <label for="1drops" class="text-lg">CMC: 2</label>
                </td>
                <td class="w-0 whitespace-nowrap text-lg">
                    <input type="number" id="1drops" class="rounded-md w-16 text-right" value="0">
                </td>
            </tr>
            <tr>
                <td class="w-0 whitespace-nowrap text-lg">
                    <label for="1drops" class="text-lg">CMC: 3</label>
                </td>
                <td class="w-0 whitespace-nowrap text-lg">
                    <input type="number" id="1drops" class="rounded-md w-16 text-right" value="0">
                </td>
            </tr>
            <tr>
                <td class="w-0 whitespace-nowrap text-lg">
                    <label for="1drops" class="text-lg">CMC: 4</label>
                </td>
                <td class="w-0 whitespace-nowrap text-lg">
                    <input type="number" id="1drops" class="rounded-md w-16 text-right" value="0">
                </td>
            </tr>
            <tr>
                <td class="w-0 whitespace-nowrap text-lg">
                    <label for="1drops" class="text-lg">CMC: 5</label>
                </td>
                <td class="w-0 whitespace-nowrap text-lg">
                    <input type="number" id="1drops" class="rounded-md w-16 text-right" value="0">
                </td>
            </tr>
            <tr>
                <td class="w-0 whitespace-nowrap text-lg">
                    <label for="1drops" class="text-lg">CMC: 6</label>
                </td>
                <td class="w-0 whitespace-nowrap text-lg">
                    <input type="number" id="1drops" class="rounded-md w-16 text-right" value="0">
                </td>
            </tr>
            <tr>
                <td class="w-0 whitespace-nowrap text-lg">
                    <label for="1drops" class="text-lg">CMC: 7</label>
                </td>
                <td class="w-0 whitespace-nowrap text-lg">
                    <input type="number" id="1drops" class="rounded-md w-16 text-right" value="0">
                </td>
            </tr>
        </tbody>
    </table>
</div>