<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ONCURVE</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'JetBrains Mono', monospace;
    }
</style>

<body class="bg-gray-500 flex flex-col gap-y-8 p-24 justify-center ">
    <header class="flex flex-col gap-y-8">
        <section>
            <h1 class="text-3xl flex flex-row justify-center">ONCURVE</h1>
            <h2>ONCURVE is a tool to analyze Magic The Gathering decks</h2>
            <h3>A common metric for defining if a deck is staying 'on curve' is if it is able to use all
                available mana for the first 4 turns. With ONCURVE - you can run many experiments to understand the
                likelihood you can achieve this.
            </h3>
        </section>
        <section>
            <h4>Disclaimers/Assumptions:</h4>
            <ul class="list-disc">
                <li class="ml-8">Decks are mono colored</li>
                <li class="ml-8">All lands are basic lands of the same color</li>
                <li class="ml-8">Mana dorks or other tap effects are not taken in to account</li>
            </ul>
        </section>
    </header>
    <main>
        <section class="flex flex-row justify-evenly">
            <div class="flex flex-col gap-y-4 w-1/2" hx-get="/SimSettings" hx-swap="innerHTML" hx-trigger="load"></div>
            <div class="flex flex-col gap-y-4 w-1/3" hx-get="/DeckBuilder" hx-swap="innerHTML" hx-trigger="load"></div>
        </section>
    </main>
</body>

</html>