<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ONCURVE</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'JetBrains Mono', monospace;
    }
</style>

<body class="bg-gray-500 flex flex-col gap-y-8 p-24 justify-center ">
    <h1 class="text-3xl flex flex-row justify-center">ONCURVE</h1>
    <section class="flex flex-col gap-y-4 justify-center">
        <h3>ONCURVE is a tool to analyze Magic The Gathering decks</h3>
        <p>A common metric for defining if a deck is staying 'on tempo' is if it is able to use all 
            available mana for the first 4 turns.  With ONCURVE - you can run many experiments to understand the likelihood you
            can achieve this.
        </p>
    </section>
</body>

</html>