<table class="table-auto w-full border-separate border-spacing-2">
    <tbody>
        <tr>
            <td class="w-0 whitespace-nowrap text-lg">
                <label for="numberOfSims" class="text-lg">Number of Simulations:</label>
            </td>
            <td>
                <select id="numberOfSims" class="rounded-md w-fit">
                    <option value="default">500</option>
                    <option value="custom">1000</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>This is the number of simulations to run to gather statistics</p>
            </td>
        </tr>
        <tr>
            <td class="w-0 whitespace-nowrap text-lg">
                <label for="numberOfSims" class="text-lg">Number of Turns:</label>
            </td>
            <td>
                <select id="numberOfTurns" class="rounded-md">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>This is the number of simulations to run to gather statistics</p>
            </td>
        </tr>
    </tbody>
</table>