<form class="flex flex-col items-center gap-y-8" id="OnCurveForm" hx-post="/Simulate" hx-target="#results">
    <div class="flex flex-col gap-y-16 ">
        <section class="flex flex-col gap-y-4 items-center">
            <header class="underline text-xl">Simulation Settings</header>
            <div class="flex flex-col md:flex-row gap-x-4 items-center">
                <div class="flex flex-row gap-x-4 items-center">
                    <label for="numberOfSims" class="text-lg">Number of Simulations:</label>
                    <select id="numberOfSims" name="numberOfSims" class="rounded-md w-16 text-black">
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
                <div>
                    <label for="numberOfTurns" class="text-lg">Number of Turns:</label>
                    <select id="numberOfTurns" name="numberOfTurns" class="rounded-md w-16 text-black">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
        </section>
        <section class="flex flex-col gap-y-4 items-center">
            <header class="underline text-xl">Deck Stats</header>
            <p>Input the number of each Converted Mana Cost (CMC) in your deck</p>
            <div class="flex flex-row gap-x-8 items-center">
                {{ range .CMCs }}
                <div class="flex flex-col gap-x-4">
                    <label for="{{ . }}drops" class="text-lg">CMC: {{ . }}</label>
                    <input type="number" name="{{ . }}drops" id="{{ . }}drops"
                        class="rounded-md pl-4 w-16 text-left text-black" value="0">
                </div>
                {{ end}}
                <button type="button" class="btn bg-indigo-500 w-fit p-2 primary rounded" hx-get="/AddNewMana"
                    hx-vals='{"currentMax": "{{ len .CMCs }}"}'>Add Mana Drop</button>
            </div>
        </section>
    </div>
    <button type="submit" class="btn bg-indigo-500 w-fit p-2 primary rounded">SUBMIT</button>
</form>